body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding-top: 80px;
  /* For fixed navbar */
}

.product-card {
  transition: transform 0.3s;
}

.abc {
  background-color: #010101e4;
}

.nav-link {
  color: #ffffff;
}

#featuredCarousel {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-control-prev,
.carousel-control-next {
  color: blue;
  font-size: 30px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: blue;
  border-radius: 50%;
  padding: 10px;
}

.carousel-inner {
  height: fit-content;
  width: fit-content;
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.btn-outline-primary {
  border-width: 2px;
}

#contact {
  margin-top: 200px;
}

.rating {
  color: #ffc107;
}

footer {
  background-color: #007bf5;
}

footer a {
  text-decoration: none;
  transition: opacity 0.3s;
}

footer a:hover {
  opacity: 0.8;
}